* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#main {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 874px;
    background-image: url(../img/header.jpg);
    background-size: 130%;
    background-position: center;
    overflow: hidden;
    opacity: 0.9;
}

.header_nav {
    width: 100%;
    height: 104px;
    background-color: rgba(0, 0, 0, 0.18);
    padding: 32px 60px;
    display:flex;
    /* overflow: hidden; */
    align-items: center;
    position: relative;
}

.nav_logo {
    height: 100%;
    padding-right: 50px;
    position: relative;
    top: -7px;
}

.nav_list {
    list-style: none;
    display: inline-block;
}

.nav_list_item {
    display: inline-block;
    position: relative;
}

.nav_list_item:hover .nav_sublist {
    display:block;
}

.nav_list_item_link {
    text-decoration: none;
    display:block;
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 24px 16px;
}

.nav_bar {
    display: inline-block;
    margin-left: auto;
}

.nav_bar_icon {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

.nav_list_item_book {
    background-color: #BA71DA;
    margin-left: 20px;
}

.header_bar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 352px;
    background-color: #fff;
    padding: 24px 36px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(360px);
    transition: all 1s ease;
    z-index: 1;
}

.header_bar_fade {
    transform: translateX(0);
}

.bar_close {
    position: absolute;
    top: 12px;
    right: 12px;
}

.bar_close_icon {
    font-size: 1.6rem;
}

.bar_close_icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bar_unit {
    text-align:center;
}

.bar_unit_subheader {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #9a9a9a;
    letter-spacing: 2px;
    line-height: 1.8rem;
    display: block;
}

.bar_unit_header {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 46px;
    position: relative;
}

.bar_unit_header::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 10px;
    z-index: -1;
    left: 0;
    background-image: linear-gradient(to right, #ffd205, #ff9b05);
}

.bar_unit_list {
    list-style: none;
}

.bar_unit_list_item {
    display:flex;
    justify-content: start;
    margin-bottom: 28px;
}

.bar_unit_list_item_image {
    width: 100px;
    height: 100px;
}

.bar_unit_list_item_content {
    margin-left: 32px;
    text-align: left;
}

.bar_unit_list_item_content_place {
    font-size: 1.3rem;
    color: #555;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.3rem;
    margin-bottom: 8px;
}

.bar_unit_list_item_content_nationality {
    font-size: 0.95rem;
    color: #9a9a9a;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

.bar_unit_list_item_content_nationality_icon {
    font-size: 0.9rem;
    color: #9a9a9a;
}

.btn_primary_bar {
    padding: 8px 18px 5px !important;
    font-size: 0.8rem !important;
}

.tour {
    position: relative;
}

.tour_img {
    width: 100%;
    z-index: -1;
}

.tour:hover .tour_sub {
    opacity: 1;
}

.tour--small {
    height: 262px;
    width: 262px;
    margin: 52px 0 38px;
}

.tour--big {
    margin: 15px;
    width: 374px;
    height: 374px;
    display: block;
}

.tour_icon {
    font-size: 2.5rem;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
    text-shadow: 0 0 2px #000;
}

.tour_info {
    position: absolute;
    text-align: left;
    bottom: 25px;
    left: 25px;
}

.tour_info_nationality {
    color: #fff;
    font-size: 1.3rem;
    text-shadow: 0 0 3px #000;
    font-weight: 800;
}

.tour_info_package {
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 0 0 1px #000;
}

.tour_sub {
    background-color: #14B9D5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    opacity: 0;
}

.tour_sub_packages {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 28px;
}

.tour_sub_list {
    list-style: none;
    text-align: center;
}

.tour_sub_list_item {
    margin-bottom: 10px;
    cursor: pointer;
}

.tour_sub_list_item_link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
}

.tour_sub_btn {
    background-color: #fff;
    font-size: 0.8rem !important;
    padding: 8px 15px !important;
    margin-top: 12px;
}

.tour_sub_btn_link {
    text-decoration: none;
    color: #14B9D5;
}

.btn_primary_bar--yellows {
    background-image: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}

.header_body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header_body_heading {
    margin:170px 0 30px;
}

.header_body_subheading {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 3px;
    margin-bottom: 66px;
}

.header_body_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    height: 40px;
    min-width: 375px;
    padding: 0 28px;
    cursor: pointer;
    position: relative;
}

.header_body_search_description {
    color: #9a9a9a;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.header_body_search_icon {
    color: #9a9a9a;
    font-size: 1.2rem;
}

.header_body_search_options {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    border-radius: 8px;
    width: 100%;
    list-style: none;
}

.header_body_search_option {
    width: 100%;
    height: 24px;
    color: #9a9a9a;
    background-color: #fff;
    letter-spacing: 1px;
    font-size: 0.9rem;
    padding: 0 28px;
    line-height: 24px;
}

.header_body_search_option:hover {
    cursor: default;
    background-color: #14B9D5;
    color: #fff;
}

.header_body_search_option:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header_body_search_option:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header_body_search_option_detail {
    padding-left: 38px;
}


.header_body_options {
    display: flex;
    justify-content: center;
    margin-top: 68px;
}

.header_body_option {
    margin: 0 15px;
    background-color: rgba(0, 0, 0, 0.25);
}

.header_body_option_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 2px;
    width: 112px;
    height: 105px;

}

.header_body_option_link_img {
    width: 42px;
    margin-bottom: 15px;
}

.body_destination {
    padding: 60px 152px;
    text-align: center;
}

.body_destination_subheading {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #9a9a9a;
    letter-spacing: 2px;
}

.body_destination_heading {
    color: #555555;
    text-transform: uppercase;
    font-size: 2rem ;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 30px;
}

.body_destination_heading_main {

}

.body_destination_tours {
    display:flex;
    flex-wrap: wrap;
}

.body_holiday {
    width:100%;
    height: 235px;
    background-image: url(../img/holiday.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 160px;
}

.body_holiday_left {
    color: #fff;
}

.body_holiday_left_subheading {
    font-size: 3rem;
    font-weight: 800;   
    line-height: 3rem;  
}

.body_holiday_left_heading {
    font-size: 3rem;
    font-weight: 800; 
    line-height: 3rem;  
}

.body_holiday_left_heading_main {
    text-decoration: underline;
    text-decoration-color: #F76570;
}

.body_holiday_right {
    background-color: #fff;
    color: #F76570 !important;
    padding: 15px 35px !important;
    border-radius: 35px !important;
    font-size: 0.8rem !important;
    position: relative;
    margin-right: 70px;
}



/* Part 2 */

.overview {
    margin: 55px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
}


.overview-text {
    height: 416px;
    width: 350px;
    padding: 20px;
    padding: 15px 35px;
}

/* h3 {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
}

h2 {
    margin-top: 15px;
    width: 350px;
    font-size: 36px;
    line-height: 36px;
    color: #555555;
} */

u {
    z-index: 99;
    position: relative;
    text-decoration: none;
}

u::after{
    position: absolute;
    content: "";
    background-color: #14b9d5;
    left: 0;
    bottom: 5px;
    height: 5px;
    width: 100%;
    z-index: -9;
}

/* p{
    margin-top: 20px;
    color: #9a9a9a;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
}

h1{
    margin-top: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #555555;
    font-weight: normal;
} */

.price__old {
    color: #dadada;
    text-decoration: line-through;
}

.price__quantity {
    font-size: 14px;
}

.btn-book {
    margin-top: 30px;
}

.btn-book a{
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    padding: 15px 35px;
    background-color: #1bbc9b ;
    border-radius: 30px;
    font-size: 14px;
}

/* slide */

.overview-image {
    padding-block: 20px;
    padding-inline: 25px 15px;
}

.slide > img {
    width: 750px;
    height: 410px;
}